* {
	margin: 0
}
body {
    background: #efefef;
    -webkit-transition: 1.0s cubic-bezier(0.22, 0.71, 0.76, 0.99) all;
    -o-transition: 1.0s cubic-bezier(0.22, 0.71, 0.76, 0.99) all;
    transition: 1.0s cubic-bezier(0.22, 0.71, 0.76, 0.99) all;
}
.main-space {
	padding-top: 20px;
	padding-bottom: 0px;
}
.button {
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	padding: 12px 30px;
	border-radius: 50px;
    background-image: -webkit-linear-gradient(315deg, #999bc9, #999bc9 35%, #24d7d4);
    background-image: -o-linear-gradient(315deg, #999bc9, #999bc9 35%, #24d7d4);
    background-image: linear-gradient(135deg, #999bc9, #999bc9 35%, #24d7d4);
	color: #fff;
	font-size: 16px;
	line-height: 21px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.button:hover {
	color: #fff;
    font-weight: 600;
    text-shadow: 0px 0px 8px rgba(225,225,225,0.2);
    -webkit-box-shadow: 0px 0px 100px rgba(0,0,0,0.2);
            box-shadow: 0px 0px 100px rgba(0,0,0,0.2);
    -webkit-transform: scale(1.05) perspective(1px);
            transform: scale(1.05) perspective(1px);
}
#hero {
	background-color: rgba(255,255,255,0);
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	min-height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
}
.header {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 36px;
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.intro-statement {
	padding-top: 20px;
	padding-bottom: 20px
}
.hero-heading {
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
	color: #2d323a;
	font-size: 60px;
	line-height: 60px;
	font-weight: 400;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center
}
.hero-subheading {
	margin-bottom: 40px;
	color: #aaaaaa;
	font-size: 25px;
	line-height: 25px;
	font-weight: 300;
	letter-spacing: 3px;
	text-transform: uppercase;
	opacity: 0;
	font-family: Barlow;
	font-weight: 400;
	text-align: center;
}
.hero-button {
	opacity: 0;
	font-family: Barlow
}
.faq {
    padding-bottom: 40px;
    padding-top: 0px;
}
.question {
    padding-bottom: 10px;
}
.footer {
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: #2d323a;
	text-align: center
}
.sponsor-info {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 40px;
}
.sponsors {
    background-color: #fff;
	padding-top: 20px;
	padding-bottom: 60px;
	padding-right: 25%;
	padding-left: 25%;
}
.sponsor {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
}
.sponsor a > img {
    max-width: 200px;
    width: 100%;
}
.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
#hero1 {
    -webkit-animation: fadein 2s forwards;
	animation: fadein 2s forwards;
	-webkit-animation: fadeInUp 2s forwards;
	        animation: fadeInUp 2s forwards;
	text-align: center;
	-webkit-animation: fadeInUp 1.25s forwards;
	        animation: fadeInUp 1.25s forwards;
}
#hero2 {
    	-webkit-animation: fadein 1.25s forwards;
	animation: fadein 1.25s forwards;
	-webkit-animation: fadeInUp 1.25s forwards;
	        animation: fadeInUp 1.25s forwards;
	-webkit-animation-delay: 1s;
	        animation-delay: 1s;
	text-align: center;
    animation: fadeInUp 1.25s forwards;
	-webkit-animation-delay: 0.75s;
	        animation-delay: 0.75s;
}
#hero3 {
    	-webkit-animation: fadein 2.50s forwards;
	animation: fadein 2.50s forwards;
	-webkit-animation-delay: 1.25s;
	        animation-delay: 1.25s;
	text-align: center;
    -webkit-animation: fadeInUp 1.5s forwards;
            animation: fadeInUp 1.5s forwards;
	-webkit-animation-delay: 1.0s;
	        animation-delay: 1.0s;
}
#scrolldown {
    opacity:0.0;
    position: relative;
    left: auto;
    top: 95%;
    -webkit-animation: fadeInDown 1.5s forwards;
            animation: fadeInDown 1.5s forwards;
}
a {
    text-decoration: underline;
}
a:link {
    text-decoration: none;
    color: slateblue;
}
@-webkit-keyframes fadeInDown {
    from {
		opacity: 0;
		-webkit-transform: translate3d(0, -50%, 0);
		        transform: translate3d(0, -50%, 0)
    }
	to {
		opacity: 0.5;
		-webkit-transform: none;
		        transform: none
	}
}
@keyframes fadeInDown {
    from {
		opacity: 0;
		-webkit-transform: translate3d(0, -50%, 0);
		        transform: translate3d(0, -50%, 0)
    }
	to {
		opacity: 0.5;
		-webkit-transform: none;
		        transform: none
	}
}
@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 75%, 0);
		        transform: translate3d(0, 75%, 0)
    }
	to {
		opacity: 1;
		-webkit-transform: none;
		        transform: none
	}
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 75%, 0);
		        transform: translate3d(0, 75%, 0)
    }
	to {
		opacity: 1;
		-webkit-transform: none;
		        transform: none
	}
}
@-webkit-keyframes fadein {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 75%, 0);
		        transform: translate3d(0, 75%, 0)
    }
	to {
		opacity: 1;
		-webkit-transform: none;
		        transform: none
	}
}
@media (max-width: 3200px) {
	.faq,
	.section-title,
	.sponsors,
    .sponsorinfotext,
	.intro-statement {
		padding-left: 25%;
		padding-right: 25%
	}
    .sponsor {
        max-width: 200px;
    }
    
h1 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 44px;
	font-weight: 600;
	font-family: Barlow;
	text-align: left;
	color: #efefef;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out;
}
h2 {
	color: #efefef;
	font-size: 28px;
	line-height: 38px;
	font-family: Barlow;
	font-weight: 400;
    -webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out;
}
h2:hover {
    text-shadow: 0 2px 3px rgba(0,0,0, 0.2);
}
h3 {
	margin-top: 8px;
	margin-bottom: 8px;
	color: #efefef;
	font-size: 36;
	line-height: 30px;
	font-weight: 400;
	font-family: Barlow;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out
}
h4 {
	margin-top: 8px;
	margin-bottom: 8px;
	color: #efefef;
	font-size: 36;
	line-height: 30px;
	font-weight: 400;
	font-family: Barlow;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out
}
h5 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 44px;
	font-weight: 600;
	font-family: Barlow;
	text-align: left;
	color: #111;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out;
}
details > p {
	margin-bottom: 18px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 300;
	font-family: Barlow;
    color: #efefef;
}
p {
    margin-bottom: 18px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 300;
	font-family: Barlow;
    color: #111;
}
}
@media (max-width: 991px) {
	.faq,
	.section-title,
	.sponsors,
    .sponsorinfotext,
	.intro-statement {
		padding-left: 20%;
		padding-right: 20%
	}
    .sponsor {
        max-width: 180px;
    }
    
h1 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 44px;
	font-weight: 600;
	font-family: Barlow;
	text-align: left;
	color: #efefef;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out;
}
h2 {
	color: #efefef;
	font-size: 28px;
	line-height: 38px;
	font-family: Barlow;
	font-weight: 400;
    -webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out;
}
h2:hover {
    text-shadow: 0 2px 3px rgba(0,0,0, 0.2);
}
h3 {
	margin-top: 8px;
	margin-bottom: 8px;
	color: #efefef;
	font-size: 36;
	line-height: 30px;
	font-weight: 400;
	font-family: Barlow;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out
}
h4 {
	margin-top: 8px;
	margin-bottom: 8px;
	color: #efefef;
	font-size: 36;
	line-height: 30px;
	font-weight: 400;
	font-family: Barlow;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out
}
h5 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 44px;
	font-weight: 600;
	font-family: Barlow;
	text-align: left;
	color: #111;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out;
}
details > p {
	margin-bottom: 18px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 300;
	font-family: Barlow;
    color: #efefef;
}
p {
    margin-bottom: 18px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 300;
	font-family: Barlow;
    color: #111;
}
}
@media (max-width: 767px) {
	.faq,
	.section-title,
	.sponsors,
    .sponsorinfotext,
	.intro-statement {
		padding-left: 15%;
		padding-right: 15%
	}
    .sponsor {
        max-width: 160px;
    }
    
h1 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 44px;
	font-weight: 600;
	font-family: Barlow;
	text-align: left;
	color: #efefef;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out;
}
h2 {
	color: #efefef;
	font-size: 28px;
	line-height: 38px;
	font-family: Barlow;
	font-weight: 400;
    -webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out;
}
h2:hover {
    text-shadow: 0 2px 3px rgba(0,0,0, 0.2);
}
h3 {
	margin-top: 8px;
	margin-bottom: 8px;
	color: #efefef;
	font-size: 36;
	line-height: 30px;
	font-weight: 400;
	font-family: Barlow;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out
}
h4 {
	margin-top: 8px;
	margin-bottom: 8px;
	color: #efefef;
	font-size: 36;
	line-height: 30px;
	font-weight: 400;
	font-family: Barlow;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out
}
h5 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 44px;
	font-weight: 600;
	font-family: Barlow;
	text-align: left;
	color: #111;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out;
}
details > p {
	margin-bottom: 18px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 300;
	font-family: Barlow;
    color: #efefef;
}
p {
    margin-bottom: 18px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 300;
	font-family: Barlow;
    color: #111;
}
}
@media (max-width: 479px) {
	.faq,
	.section-title,
	.sponsors,
    .sponsorinfotext,
	.intro-statement {
		padding-left: 10%;
		padding-right: 10%
	}
    .sponsor {
        max-width: 125px;
    }
    
h1 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 24px;
	line-height: 44px;
	font-weight: 600;
	font-family: Barlow;
	text-align: CENTER;
	color: #efefef;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out;
}
h2 {
	color: #efefef;
	font-size: 20px;
	line-height: 38px;
	font-family: Barlow;
	font-weight: 400;
    -webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out;
}
h2:hover {
    text-shadow: 0 2px 3px rgba(0,0,0, 0.2);
}
h3 {
	margin-top: 8px;
	margin-bottom: 8px;
	color: #efefef;
	font-size: 36;
	line-height: 30px;
	font-weight: 400;
	font-family: Barlow;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out
}
h4 {
	margin-top: 8px;
	margin-bottom: 8px;
	color: #efefef;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	font-family: Barlow;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out
}
h5 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 24px;
	line-height: 44px;
	font-weight: 600;
	font-family: Barlow;
	text-align: left;
	color: #111;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	-o-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out;
}
details > p {
	margin-bottom: 18px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 300;
	font-family: Barlow;
    color: #efefef;
}
p {
    margin-bottom: 18px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 300;
	font-family: Barlow;
    color: #111;
}
}

/* ily justin */ 

summary {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	outline: none;
	cursor: pointer;
	-webkit-transition: 1.0s ease;
	-o-transition: 1.0s ease;
	transition: 1.0s ease;
}
summary::-webkit-details-marker {
	display: none;
}
summary:after {
	content: '';
    color: #efefef;
	display: table;
	border: solid;
    border-width: 0 0.2em 0.2em 0;
    font-size: 0.66em;
    width: 1em;
    height: 1em;
    -webkit-transform: translateX(-0.3536em) rotate(-45deg);
        -ms-transform: translateX(-0.3536em) rotate(-45deg);
            transform: translateX(-0.3536em) rotate(-45deg);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
details[open] > summary:after {
    -webkit-transform: translateY(-0.3536em) rotate(45deg);
        -ms-transform: translateY(-0.3536em) rotate(45deg);
            transform: translateY(-0.3536em) rotate(45deg);
}
details > summary + * {
	-webkit-animation: DetailsOpen 0.7s cubic-bezier(0.22, 0.71, 0.76, 0.99);
	        animation: DetailsOpen 0.7s cubic-bezier(0.22, 0.71, 0.76, 0.99);
}
details[open] > summary + * {
	margin-top: 0.5em;
	max-height: 100vh;
	animation-direction: reverse;
}
@-webkit-keyframes DetailsOpen {
	from { overflow: hidden; max-height: 100vh }
	to { overflow: hidden; max-height: 0; opacity: 0 }
}
@keyframes DetailsOpen {
	from { overflow: hidden; max-height: 100vh }
	to { overflow: hidden; max-height: 0; opacity: 0 }
}